body {
    font-size: 200%;
}
.navbar a {
    font-size: 1.2em;
    width: auto;
    height: 57px;
}
.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}
.nav-link {
    font-size: 1.2em;
    font-family: 'Bebas Neue', cursive;
}
.navbar-nav {
    padding-left: 10px;
    font-size: 1.4em;
}
.project_title {
    font-size: 60px;
    font-family: 'Permanent Marker', cursive;
}
.sub_title {
    font-size: 35px;
    font-family: 'Permanent Marker', cursive;
}
.calculator {
    background: rgba(250, 220, 135, 0.05) !important;
}
