{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
        body { background: rgba(255, 187, 51, 0.41) !important; }
    </style>
{% endblock %}

{% block content %}

    <br>

    <div class="d-flex justify-content-center pt-4">
        <span class="project_title">WebCalc 5000!</span>
    </div>

    <br>

    <div>
         {% if error %}
            <div class="alert alert-danger error container-fluid" style="min-height: 100%; width: 40%" role="alert">
                 {{ error }}
            </div>
         {% endif %}
    </div>

    <div class="col-sm-3 mx-auto p-5 p-1 my-4 bg-warning bg-opacity-25 text-light info shadow-lg rounded">
        <div class="container-fluid py-2">
            <div class="d-flex justify-content-center opacity-75">

                <span class="rounded p-5 p-3 my-4 text-black bg-secondary shadow-lg" style="font-family: 'Permanent Marker', cursive;">
                    <form action="/calculator" method="POST">

                        <label for="value1" class="p-1 h5">Input Value 1:</label><br>
                        <input type="text" id="value1" name="value1" value="1"><br>
                        <label for="value2" class="p-1 h5">Input Value 2:</label><br>
                        <input type="text" id="value2" name="value2" value="2"><br>

                            <fieldset class="pb-2">

                                <legend class="p-1">Choose Operation</legend>
                                    <div class="col-md-9 offset-md-1">
                                        <input type="radio" name="operation" id="addition" value="addition" checked>
                                        <label for="addition">Addition</label>
                                    </div>
                                    <div class="col-md-9 offset-md-1">
                                        <input type="radio" name="operation" id="subtraction" value="subtraction">
                                        <label for="subtraction">Subtraction</label>
                                    </div>
                                    <div class="col-md-9 offset-md-1">
                                        <input type="radio" name="operation" id="multiplication" value="multiplication">
                                        <label for="multiplication">Multiplication</label>
                                    </div>
                                    <div class="col-md-9 offset-md-1">
                                        <input type="radio" name="operation" id="division" value="division">
                                        <label for="division">Division</label>
                                    </div>
                            </fieldset>

                        <input class="p-1 col-md-9 offset-md-1" type="submit" value="Submit">

                    </form>
                </span>

            </div>
        </div>
    </div>

    <br><br><br>

{% endblock %}