{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}

    <div class="container" style="min-height: 100%;  width: 80%">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info alert-success" role="alert">
                    {{ message }}
                    <button type="button" class="close" style="float: right" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <div class="container container-fluid flow">
        <div class="justify-content-md-center">
            <div class="col">
                <h1>Project 3</h1>
            </div>
            <div class="col-sm-3 p-5 p-1 my-5 my-1 bg-light bg-opacity-50 text-light info shadow-lg rounded">
                <img alt="calculator" src="{{ url_for('static', filename='images/sample_calc.png') }}" class="opacity-75 rounded mx-auto d-block img-fluid" style="max-width: 100%; height: auto">
            </div>
        </div>
    </div>

    <br><br>

{% endblock %}
