{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
        body { background: rgba(255, 187, 51, 0.41) !important; }
    </style>
{% endblock %}

{% block content %}

    <div class="container" style="min-height: 100%;  width: 80%">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info alert-success" role="alert">
                    {{ message }}
                    <button type="button" class="close" style="float: right" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <div class="container container-fluid flow my-5">
        <div class="row row-cols-3">
            <div class="col text-center">
                <span class="project_title align-text-top">Project 3</span>
            </div>
            <div class="col">
                <span>Test</span>
            </div>
            <div class="col">
                <span>Test</span>
            </div>
            <div class="col p-5 p-1 my-5 my-1 info shadow-lg rounded" style="background: rgba(255, 187, 51, 0.25) !important;">
                <span><img alt="calculator" src="{{ url_for('static', filename='images/sample_calc2.png') }}" class="opacity-75 rounded mx-auto d-block img-fluid" style="max-width: 100%; height: auto"></span>
            </div>
            <div class="col">
                <span>Test</span>
            </div>
            <div class="col">
                <span>Test</span>
            </div>
        </div>
    </div>

    <br><br>

{% endblock %}
