{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
        body { background: rgba(255, 187, 51, 0.41) !important; }
    </style>
{% endblock %}

{% block content %}

    <div class="container" style="min-height: 100%;  width: 80%">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info alert-success" role="alert">
                    {{ message }}
                    <button type="button" class="close" style="float: right" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <!-- Title Card -->
    <div class="jumbotron-fluid container text-center my-5">
          <div class="row">
               <span class="project_title">True Story of The Internet</span>
          </div>
         <div class="row">
            <span class="sub_title">Internet Search</span>
         </div>
    </div>

    <!-- Main Container -->
    <div class="container justify-content-center text-black">

        <div class="row">

            <!-- Side Bar -->
            <div class="col-4 ordinary_type post_it">
                <div class="text-center my-2">
                    <span class="sub_title">The Players</span>
                </div>
                <div class="text-center">
                    <span class="middle_title">Yahoo</span>
                </div>
                <div class="m-2">
                    <span class="ordinary_type">The first major player in Internet search game, entering in 1994. They relied on still an old engine and banner ads.</span>
                </div>

                <div class="text-center" style="margin-bottom: 5px">
                    <span class="middle_title">Excite</span><br>
                </div>
                <div class="m-2">
                    <span class="ordinary_type">Much like Yahoo, they started around the same time after acquiring a few early search engines.</span>
                </div>

                <div class="text-center" style="margin-bottom: 5px">
                    <span class="middle_title">Overture</span><br>
                </div>
                <div class="m-2">
                    <span class="ordinary_type">Not as popular as Yahoo and excite, Overture did however come up with the idea to sell search result order to companies.</span>
                </div>

                <div class="text-center" style="margin-bottom: 5px">
                    <span class="middle_title">Google</span><br>
                </div>
                <div class="m-2">
                    <span class="ordinary_type">Google came along and fused Overture.com's idea with a new way to search that brought up better results than Yahoo and excite.</span>
                </div>

            </div>

            <!-- Primary Content -->
            <div class="col-8">

                <div class="mx-4 my-2 text-left" style="margin-top: 5px">
                    <span class="sub_title">Yahoo Vs. Excite</span>
                </div>
                <div class="mx-4 my-2">
                    <span class="middle_title">Fight for Search Dominance Round 1</span>
                </div>
                <div class="mx-4 my-3">
                    <span class="ordinary_type">Yahoo is founded by Jerry Yang and David Filo, and they started to categorize the World Wide Web, allowing it to be searchable. They controversially put up banner ads in 1995 to generate revenue, and the number of users still went up.</span>
                </div>
                <div class="mx-4 my-3">
                    <span class="ordinary_type">Excite similarly had an automated keyword search engine. These two companies were in a battle for search space. They started to add non-search features to compete, and search engine quality suffered.</span>
                </div>

                <div class="mx-4 my-3">
                    <span class="sub_title">Google It</span>
                </div>
                <div class="mx-4 my-3">
                    <span class="middle_title">It's All About the Links.</span>
                </div>
                <div class="mx-4 my-3">
                    <span class="ordinary_type">Google was founded by Larry Page and Sergey Brin in 1998. They combined keyword search with the number of links that a website has from other sites, in other words gauging its Internet "popularity" and usefulness.</span>
                </div>

                <div class="mx-4 my-3">
                    <span class="sub_title">Overture.com</span>
                </div>
                <div class="mx-4 my-3">
                    <span class="middle_title">Who Needs Banner Ads</span>
                </div>
                <div class="mx-4 my-3">
                    <span class="ordinary_type">Overture.com was the first to introduce targeted ad results and to sell ad space to companies in order to get their results to be higher on the list of certain keyword searches.</span>
                </div>
            </div>

        </div>

    </div>

    <!-- Break Title -->
    <div class="container justify-content-center text-center post_it">
        <div class="row">
            <span class="project_title">Fight for Search Round 2</span>
        </div>
    </div>

    <!-- Secondary content container -->
    <div class="container">
        <div class="row mx-1">
            <div class="my-2 text-left" style="padding-top: 15px">
                <span class="sub_title">February 7, 1958</span>
            </div>
            <div class="my-2">
                <span class="middle_title">Google Refuses Banner Ads</span>
            </div>
            <div class="my-2">
                <span class="ordinary_type">Google insists on keeping it's page simple, and banner free. It's search engine based on link usefulness is innovative, but they need a way to generate revenue. Venture capitalists investing in Google apply pressure to find a revenue source.</span>
            </div>

            <div class="my-2">
                <span class="sub_title">Can A Deal Be Made</span>
            </div>
            <div class="my-2">
                <span class="ordinary_type">Google and Overture.com are brought together to make a deal. It's not truly known what happens, but nothing comes of it. Although, Google does go ahead with it's own targeted ad results engine which effectively copies Overture.com. Overture then sues Google and wins an unknown settlement. Overture.com founder Bill Gross obtains an undisclosed amount of Google stock.</span>
            </div>

            <div class="my-2">
                <span class="sub_title">Google IPO To The Moon</span>
            </div>
            <div class="my-2">
                <span class="ordinary_type">Google launches it's IPO in 2004, after the dot com bubble and still does well. The stock remained a high growth stock up to even today. Their combination of keyword, link popularity, and targeted ad results, have allowed them to expand into the juggernaut of today.</span>
            </div>
        </div>
    </div>

{% endblock %}